@import "tailwindcss";

:root {
  --primary: #067690;
}

@media (max-width: 768px) {
  .rotateY-mobile {
    transform: rotateY(180deg);
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
